<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>info</igx-icon>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content">
      <igx-date-picker type="border" mode="dialog" class="date-picker">
        <label igxLabel>Date</label>
      </igx-date-picker>
      <igx-radio-group class="radio-group">
        <igx-radio class="radio">
          4489
        </igx-radio>
        <igx-radio class="radio">
          4488
        </igx-radio>
        <igx-radio class="radio">
          4499
        </igx-radio>
      </igx-radio-group>
    </igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>info</igx-icon>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
</igx-tabs>
